# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
myenv/
.venv/
myenv_coqui_backup/

# =========================
# AI Models & Data (IMPORTANT)
# =========================
backend/model/
backend/data/*
!backend/data/.gitkeep
*.bin
*.pt
*.pth
*.ckpt
*.safetensors

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Vite
# =========================
.vite/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Variables
# =========================
.env
.env.local

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Testing / Cache
# =========================
.pytest_cache/
coverage/
